<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EnterpriseDB</display-name>
  <servlet>
    <servlet-name>customers</servlet-name>
    <servlet-class>com.enterprisedatabase.servlets.CustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>orders</servlet-name>
    <servlet-class>com.enterprisedatabase.servlets.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>employees</servlet-name>
    <servlet-class>com.enterprisedatabase.servlets.EmployeeServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>offices</servlet-name>
    <servlet-class>com.enterprisedatabase.servlets.OfficeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customers</servlet-name>
    <url-pattern>/CustomerDetails.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>customers</servlet-name>
    <url-pattern>/customerslist.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>orders</servlet-name>
    <url-pattern>/orderdetails.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>orders</servlet-name>
    <url-pattern>/ordersofcustomer.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>orders</servlet-name>
    <url-pattern>/updatedorderslist.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>employees</servlet-name>
    <url-pattern>/employeedetails.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>employees</servlet-name>
    <url-pattern>/employeesbyofficecode.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>offices</servlet-name>
    <url-pattern>/officedetails.jsp</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>offices</servlet-name>
    <url-pattern>/officedetailsbycode.jsp</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>CustomerDetails.jsp</welcome-file>
    <welcome-file>updatedcustomerslist.jsp</welcome-file>
    <welcome-file>orderdetails.jsp</welcome-file>
    <welcome-file>ordersofcustomer.jsp</welcome-file>
    <welcome-file>updatedorderslist.jsp</welcome-file>
    <welcome-file>customerfordeletion.html</welcome-file>
    <welcome-file>customerdataforupdate.html</welcome-file>
    <welcome-file>employeedetails.jsp</welcome-file>
    <welcome-file>employeesbyofficecode.jsp</welcome-file>
    <welcome-file>employeefordeletion.html</welcome-file>
    <welcome-file>officecodeforemployee.html</welcome-file>
    <welcome-file>officedatabycode.html</welcome-file>
    <welcome-file>officedetailsbycode.jsp</welcome-file>
     <welcome-file>officedetails.jsp</welcome-file>
     <welcome-file>officedatabycode.html</welcome-file>
      
  </welcome-file-list>
</web-app>